
html {
    box-sizing: border-box;
    background-image: url('Pink.jpg');
    font-family: 'helvetica neue';
    /* font-size: 20px; */
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panels .aviso {
    position: absolute;
    font-size: 30px;
    bottom: 500px;
    left: 550px;
    animation: alert 3s linear none;
    opacity: 0;
    transition: all .3s ease-in-out;
}

@keyframes alert {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: 
        font-size 0.9s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.9s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.3s;
    background-size: cover;
    background-position: center;
    flex: 1; /*to distribute space*/
}

.panel1 { background-image:url('Pink-Flower.jpg'); }
.panel2 { background-image:url('Purple-diamond.jpg'); }
.panel3 { background-image:url('Blue.jpg'); }
.panel4 { background-image:url('Green-PII.jpg'); }
.panel5 { background-image:url('Pink-Rose.jpg'); }

/* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 1);
    font-size: 2.5em;
    padding: 0 10px;
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 1);
    font-size: 2.5em;
    padding: 0 10px;
}

.panel h1 {
    font-size: 2.5em;
    transition: 0.7s ease-in-out;
}

.panel.open {   
    flex: 3; /*going to take 5 times extra room as the rest of the item */
}

.panel.open h1 {
    font-size: 4em;
    transition: 1s ease-in-out;
}

.panel1 h1 {
    color: #f097ad;
}

.panel5 h1 {
    color: #c41b1d;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .panels {
        flex-direction: column;
    }
    .panel h1 {
        font-size: 2em;
    }

    .panel.open h1 {
        font-size: 3em;
    }

    .panel > *:first-child {
        transform: translateX(100%);
    }

    .panel > *:last-child {
        transform: translateX(100%);
    }

    .panel.open-active > *:first-child {
        font-size: 1.6em;
    }

    .panel.open-active > *:last-child {
        font-size: 1.6em;
    }

    .panels .aviso {
        bottom: 370px;
        left: 90px;
        color: #005565;
    }
    

}